@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
   font-family: 'Roboto', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

/* fonts */
@font-face {
	font-family: 'PlusJakartaSans-Medium';
	src:url('../fonts/PlusJakartaSans-Medium.eot?-fvbane');
	src:url('../fonts/PlusJakartaSans-Medium.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/PlusJakartaSans-Medium.woff?-fvbane') format('woff'),
		url('../fonts/PlusJakartaSans-Medium.ttf?-fvbane') format('truetype'),
		url('../fonts/PlusJakartaSans-Medium.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Bgs*/
.bg-violet {
    background-color: #655DC6;
}
.bg-violet-light2 {
    background-color: #E1E1F2;
}
.bg-dark {
    background-color: #000000 !important;
}

/*btn*/
.btn-primary {
    color: #fff;
    background-color: #EE7623;
    border-color: #EE7623;
    border-radius: 50px;
    min-width: 150px;
        line-height: normal;
}
.btn-border {
    color: #EE7623;
    background-color: transparent;
    border-color: #EE7623;
    border-radius: 50px;
    min-width: 150px;
    line-height: normal;
}


/*texts*/
.style-texts b {
    font-weight: 400;
    color: #000;
}
.text-blue {
    color: #1ECAD3;
}
.text-green {
    color: #1ECAD3;
}
.text-orange {
    color: #EE7623;
}
.text-yellow {
    color: #FFC629;
}
.text-violet {
    color: #655DC6;
}
.text-light-violet {
    color: #B4B3DF;
}
.text-light-gray {
    color: #a5a5a5;
}

@media (max-width: 576px) {
    .download{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    
    #agents-saying{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .agents{
        padding-top: 5rem !important;
        padding-bottom: 4rem !important;
    }
    #faqs{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .img-eclipse{
        visibility: hidden;
    }
    .title-app h1{
    font-size: 25px !important;  
    }
    .app-agent{
        padding-bottom: 9.7rem !important;
    }
    .app-agent h1{
        padding-top: 4rem !important;
    }
    .down-text h2{
        font-size: 26px !important;
    }
    
   
}
@media (min-width: 767px) and (max-width: 1250px) {
    .agents{
        padding-top: 12rem !important;
    }
}
@media (max-width: 767px) {
    .border-top{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important;
    }
    .w-xs-100 {
        width: 100%;
    }
    .copyright p{
        text-align: center !important;
    }
    .order-a{
        order: 1;
    }
    .order-b{
        order: 2;
    }
    .img-eclipse-small{
        visibility: hidden;
    }
    .content-app .letter-agent{
        margin-right: 0 !important;
    }
    .content-app .letter{
        padding-right: 0 !important;
    }
    .down-text h2{
        text-align: center;
    }
}

@media (max-width: 1400px) {
    .card-agents{
        width: auto !important;
    }
}
@media (max-width: 992px) {
    .accordion-faqs{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .section-download{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .footer{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    #faqs {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
    img.img-home{
        width: 100%;
    }
    img.img-agent{
        width: 100%;
    }
    .search-review{
        padding-top: 0rem !important;
    }
    .profile-image {
        width: 66%;
    }
    .home-mobile{
        width: 90%;
    }
    .fixed-top {
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        z-index: 1030 !important;
    }
   
}




/*badges*/
.badge {
    line-height: 16px;
    border-radius: 50px;
}
.badge-process {
    color: #1ECAD3;
    background-color: #DFF3F3;
    text-transform: uppercase;
    border-radius: 10rem;
}
.badge-pending {
    color: #EE7623;
    background-color: #FCE4D3;
    text-transform: uppercase;
}
.badge-complete {
    color: #0DC26B;
    background-color: #DFF9EC;
    text-transform: uppercase;
}




/*Forms*/
.form-control {
    padding: 0.375rem 0;
    color: #000000;
    border: none;
    border-bottom: 1px solid #d1d3e2;
    border-radius: 0;
}
.form-control:focus {
    color: #000000;
    border-color: #ee7623;
    outline: 0;
    box-shadow: none;
}
.form-control::placeholder {
    color: #000000;
}

.form-check-input:checked {
    background-color: #35cbd3;
}
.form-check-input:checked {
    background-color: #35cbd3;
    border-color: #35cbd3;
}



/*drag*/
/*Input File*/
#floorplanDropzone {
    border: dashed 1px #CCC;
    border-radius: 12px;
    text-align: center;
    padding: 26px;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    overflow: hidden;
    opacity: 0;
}


/* territory agent */

.header{
    border-bottom: 1px solid #8E8D8D;
}

/* application section 1 */
.app-agent{
    padding-bottom: 16.7rem;
    margin-bottom: 13%;
}
.line-right {
    position: absolute;
    right: 16%;
    height: 100%;
    z-index: 0;
}
.line-left {
    position: absolute;
    left: 17%;
    height: 100%;
    z-index: 0;
}
.home-mobile{
    position: absolute;
    top: 104%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    }
.app-agent h1 {
    font-family: 'PlusJakartaSans-Medium';
    position: relative;
    z-index: 2;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    padding-top: 8rem;
    letter-spacing: 3px;
}
.app-agent p{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
    padding: 2rem;
}
img.image-app{
    padding: 0.5rem;
}
/* section agents */
#agents-saying{
    background: #F5F4F3;
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}
.title-app h1{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: 0.2px;
    color: #000000;
}
.content-app .letter{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #575656;
    padding-right: 3rem;
}
.content-app .letter-agent{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-size: 18px;
    line-height: 23px;
    padding-top: 1.05rem;
    margin-right: 2rem;
    opacity: 0.8;
    color: #000;
}
.search-review{
    padding-top: 6rem;
}


/* agents */
.card-agents{
    width: 416px;
    background: #FFFFFF;
    border: 2px solid rgba(18, 20, 29, 0.1);
    border-radius: 10px;
}
.card-text{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000;
}
.name-agent{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}
.name-agent p{
    color: #000;
}
.name-agent .founder{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    opacity: 0.7;
}
.card-footer{
    padding: 0rem 2rem !important;
}
.card-body{
    padding: 1.5rem 2rem;
}
.agents{
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}
.back-agent {
    position: relative;
    padding-top: 33%;
    z-index: 230;
}

/* faqs */
#faqs{
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}
.faqs li{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 14px;
    font-weight: 500;
}
.accordion-faqs{
    padding-left: 7rem;
    padding-right: 7rem;
}
.accordion-button:not(.collapsed){
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000;
}
.accordion-body{
    font-family: 'PlusJakartaSans-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    opacity: 0.8;
}
.accordion-item{
    padding: 1rem;
}
.accordion-button{
    color: #000;
}

/* section download */
.section-download{
    padding-left: 7rem;
    padding-right: 7rem;
}
.download{
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
}
.down-text h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;    
    letter-spacing: -1px;
}
.down-text span{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.image-app:hover{
    transform: scale(1.01);
}
/* footer */
.footer{
    padding-left: 7rem;
    padding-right: 7rem;
}
.footer h5{
    font-family: 'PlusJakartaSans-Medium';
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.5px;
}
.faqs li{
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
}
.copyright p{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: #52525B;
}
.terms li a{
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #52525B;
    line-height: 0 !important;
}
.terms-h:hover{
    font-weight: 700;
    font-size: 13px;
    color: #D4AF37;
}
.all-right{
    margin-top: none !important;
}
.text-dark[href]:hover{
    color: #D4AF37 !important;
}
.social-networks:hover{
    transform: scale(1.1);
}

/* eclipses */
.img-eclipse{
    width: 125px;
    height: 250px;
    right: 0;
    position: absolute;
    top: 11%;
}
.img-eclipse-small{
    padding-top: 4%;
    left: 0;
    position: absolute;
}


.back-profile{
    position: absolute;
width: 449px;
height: 292px;
left: 163px;
top: 3059.98px;
background: #FBE6AB;
border-radius: 60px;
}
