@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media (max-width: 576px) {
    .app-agent h1{
        font-size: 50px !important;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 1200px) {
    
}
/* @media (min-width: 1200px){

    .container {
        max-width: 1140px;
    }
} */